<div class="app-container">
  <app-sidebar></app-sidebar>
  <div class="main-content">
    <div class="part-container">
      <h2><i class="fas fa-cogs"></i> Editar Pieza</h2>

      <form (ngSubmit)="updatePart()">
        <div class="form-group">
          <label for="name"><i class="fas fa-tag label"></i> Nombre:</label>
          <input type="text" id="name" name="name" [(ngModel)]="part.name" required class="form-control" placeholder="Nombre" />
        </div>

        <div class="form-group">
          <label for="price"><i class="fas fa-euro-sign label"></i> Precio (€):</label>
          <input type="number" id="price" name="price" [(ngModel)]="part.price" required class="form-control" placeholder="Precio" min="0" />
        </div>

        <div class="form-group">
          <label for="stock"><i class="fas fa-boxes label"></i> Stock:</label>
          <input type="number" id="stock" name="stock" [(ngModel)]="part.stock" required class="form-control" placeholder="Stock" min="0" />
        </div>

        <div class="form-group">
          <label for="profit_margin"><i class="fas fa-percentage label"></i> Margen de Beneficio (%):</label>
          <input type="number" id="profit_margin" name="profit_margin" [(ngModel)]="part.profit_margin" required class="form-control" placeholder="Margen de beneficio" min="0" />
        </div>

        <div class="part-actions">
          <button type="submit" class="edit-button">
            <i class="fas fa-save"></i> Actualizar Pieza
          </button>
          <button type="button" class="back-button" (click)="goBack()">
            <i class="fas fa-arrow-left"></i> Volver
          </button>
        </div>
      </form>

      <p class="success" *ngIf="successMessage">{{ successMessage }}</p>
      <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
    </div>
  </div>
</div>