<div class="app-container">
  <app-sidebar></app-sidebar>
  <div class="main-content">
    <div class="part-container">
      <h2><i class="fas fa-cogs"></i> Añadir Pieza</h2>
      <form (ngSubmit)="addPart()" #partForm="ngForm">
        <div class="form-group">
          <label for="name"><i class="fas fa-tag label"></i> Nombre:</label>
          <input
            type="text"
            id="name"
            name="name"
            [(ngModel)]="part.name"
            required
            class="form-control"
          />
        </div>

        <div class="form-group">
          <label for="price"><i class="fas fa-dollar-sign label"></i> Precio:</label>
          <input
            type="number"
            id="price"
            name="price"
            [(ngModel)]="part.price"
            required
            class="form-control"
          />
        </div>

        <div class="form-group">
          <label for="stock"><i class="fas fa-boxes label"></i> Stock:</label>
          <input
            type="number"
            id="stock"
            name="stock"
            [(ngModel)]="part.stock"
            required
            class="form-control"
          />
        </div>

        <div class="form-group">
          <label for="profit_margin"
            ><i class="fas fa-percentage label"></i> Margen de beneficio (%):</label
          >
          <input
            type="number"
            id="profit_margin"
            name="profit_margin"
            min="0"
            max="100"
            [(ngModel)]="part.profit_margin"
            required
            class="form-control"
          />
        </div>

        <div class="part-actions">
          <button type="submit" [disabled]="!partForm.form.valid" class="edit-button">
            <i class="fas fa-save"></i> Guardar
          </button>
          <button type="button" class="back-button" (click)="goBack()">
            <i class="fas fa-arrow-left"></i> Volver
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
